/* GENERAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a, a:hover {
    text-decoration: none;
}


/* HEADER */
header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    z-index: 9997;
    background: #181628;
    overflow-y: scroll;
}

/* Header Profile Picture */
header .profile > img {
    display: block;
    margin: 20px auto;
    width: 33%;
    border: 10px solid #2f293e;
    border-radius: 100%;
    pointer-events: none;
}

header .profile > h1 {
    text-align: center;
}

header .profile > h1 a {
    color: #ffffff;
}

/* Header Social Media Links */
header .profile > .social-links {
    text-align: center;
}

header .profile > .social-links img {
    width: 18px;
    background-color: #2f293e;
    border: 8px solid #2f293e;
    border-radius: 100%;
}

header .profile > .social-links a:hover img,
header .profile > .social-links a:active img {
    background-color: #605b9b;
    border: 8px solid #605b9b;
}

/* Header Navigation Menu */
nav > .nav-list {
    padding-top: 18px;
    list-style: none;
}

nav > .nav-list li {
    padding-bottom: 18px;
}

nav > .nav-list a {
    list-style: none;
    color: #d4d4d4;
    font-size: 18px;
}

nav > .nav-list a:hover {
    color: #ffffff;
}

nav > .nav-list img {
    padding-right: 6px;
    vertical-align: text-top;
    width: 18px;
    pointer-events: none;
}

@media screen and (max-width: 1199px) {
    header {
        width: 80%;
        visibility: hidden;
    }
}

/* HERO SECTION */
#hero {
    margin-left: 15%;
    height: 100vh;
    background: url("../img/images/bg-hero.jpg") top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

#hero::before {
    content: "";
    background: rgba(15, 15, 15, 0.3);
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
}

#hero .hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #ffffff;
    z-index: 2;
}

#hero h1 {
    margin-bottom: 10px;
    font-size: 60px;
}

#hero p {
    font-size: 24px;
}

@media screen and (min-width: 1200px) {
    #hero {
        background-attachment: fixed;
    }
}

@media screen and (max-width: 1199px) {
    #hero {
        margin-left: 0;
    }
}

/* ABOUT SECTION */
.about-container {
    margin-left: 15%;
}

.about-container section:nth-child(even) {
    background: #f3f7fd;
}

@media screen and (max-width: 1199px) {
    .about-container {
        margin-left: 0;
    }
}

/* PRESENTING SECTIONS */
.presenting-section {
    padding: 10px 5% 10px 5%;    
}

.presenting-section > h1 {
    font-size: 30px;
}

.presenting-section > h1::after {
    margin-top: 10px;
    display: block;
    content: "";
    background-color: #605b9b;
    width: 50px;
    height: 3px;
}

/* Contact Me Section */
.presenting-section[id="contact"] > .container {
    display: flex;
    column-gap: 50px;
}

.presenting-section[id="contact"] .contact-information {
    padding: 0 20px 20px 20px;
}

.presenting-section[id="contact"] .contact-information > div {
    display: flex;
    align-items: center;
}

.presenting-section[id="contact"] .contact-information .img-container {
    border: 10px solid #605b9b;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.presenting-section[id="contact"] .contact-information .img-container > img {
    background-color: #605b9b;
    width: 100%;
    pointer-events: none;
}

.presenting-section[id="contact"] .contact-information .text-container h2 {
    margin-bottom: 10px;
}

.presenting-section[id="contact"] .contact-information .text-container p {
    margin-top: 0;
    color: #808080;
}

.presenting-section[id="contact"] .contact-information > .email a {
    color: #808080;
}

.presenting-section[id="contact"] .contact-information > .social-links {
    margin-top: 20px;
    column-gap: 10px;
}

.presenting-section[id="contact"] .contact-information > .social-links img {
    width: 20px;
    background-color: #2f293e;
    border: 10px solid #2f293e;
    border-radius: 100%;
}

.presenting-section[id="contact"] .contact-information > .social-links a:hover img,
.presenting-section[id="contact"] .contact-information > .social-links a:active img {
    background-color: #605b9b;
    border: 10px solid #605b9b;
}

.presenting-section[id="contact"] .email-form {
    padding: 20px;
    width: 100%;
    font-size: 20px;
}

.presenting-section[id="contact"] .email-form input,
.presenting-section[id="contact"] .email-form textarea {
    font-family: inherit;
    display: block;
    padding: 10px;
    font-size: 18px;
    border-radius: 0;
    border: 1px #808080 solid;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
}

.presenting-section[id="contact"] .email-form textarea {
    resize: vertical;
}

.presenting-section[id="contact"] .email-form .button-container > button {
    padding: 10px;
    font-size: 20px;
    border: none;
    background-color: #181628;
    color: white;
}

.presenting-section[id="contact"] .email-form .button-container > button:hover,
.presenting-section[id="contact"] .email-form .button-container > button:active {
    background-color: #605b9b;
}

.presenting-section[id="contact"] .email-form .name-email-container {
    display: flex;
    column-gap: 50px;
}

.presenting-section[id="contact"] .email-form .input-container {
    display: block;
    width: 100%;
    padding-bottom: 20px;
}

.presenting-section[id="contact"] .email-form .button-container {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .presenting-section[id="contact"] .email-form .name-email-container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1199px) {
    .presenting-section[id="contact"] > .container {
        flex-wrap: wrap;
    }
}

/* Disabled E-Mail Form */
.disabled {
    pointer-events: none;
    opacity: 0.7;
}

.presenting-section[id="contact"] .email-form input,
.presenting-section[id="contact"] .email-form textarea {
    background-color: #eeeeee;
    /* color: black; */
    /* font-weight: bold; */
    font-style: italic;   
}
/* Disabled E-Mail Form */

/* FOOTER */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 15%;
    z-index: 9999;
    background-color: #181628;
}

footer p {
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 1199px) {
    footer {
        position: static;
        width: 100%;
    }

    footer p {
        margin: 0;
        padding: 15px;
        background: #181628;
    }
}

